.back-button {
	display: flex;
	align-items: center;
	gap: rem(8px);
	color: var(--violet);
	font-weight: var(--bold-weight);
	font-size: rem(18px);
	line-height: rem(20px);
	letter-spacing: rem(0.4px);

	&:focus-visible {
		outline-offset: rem(2px);
	}

	@include respond-to('mobile') {
		.back-button {
			&__text {
				display: none;
			}

			&__icon {
				$icon-size: rem(24px);
				width: $icon-size;
				height: $icon-size;
			}
		}
	}

	&__icon {
		$icon-size: rem(20px);
		width: $icon-size;
		height: $icon-size;
	}
}
