$red: #ff1c44;

$colors: (
	'black': var(--darkblue-900),
	'red': $red
);

$sizes: (
	'sm': rem(14px) rem(32px),
	'md': rem(18px) rem(40px),
	'lg': rem(20px) rem(40px)
);

$font-sizes: (
	'sm': rem(18px),
	'md': rem(18px),
	'lg': rem(20px)
);

$line-heights: (
	'sm': rem(20px),
	'md': rem(20px),
	'lg': rem(24px)
);

$disabled: (
	'bg-color': var(--darkblue-200),
	'text-color': var(--darkblue-600)
);

.button {
	position: relative;
	color: var(--white);
	font-weight: var(--bold);
	letter-spacing: rem(0.4px);
	border-radius: rem(40px);
	transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);

	@each $name, $value in $colors {
		&--#{$name} {
			background-color: $value;
		}
	}

	@each $name, $value in $sizes {
		&--#{$name} {
			padding: $value;
			font-size: map.get($font-sizes, $name);
			line-height: map.get($line-heights, $name);
		}
	}

	&:has(.loader) {
		.button__text {
			visibility: hidden;
		}
	}

	&:focus-visible {
		outline: rem(2px) solid var(--darkblue-900);
		outline-offset: rem(2px);
	}

	&:active {
		transform: scale(0.97);
	}

	&:disabled {
		transform: none;
		background-color: map.get($disabled, 'bg-color');
		color: map.get($disabled, 'text-color');
	}
}
