$red: #ff1c44;

.button {
	position: relative;
	box-sizing: border-box;
	padding: rem(20px) rem(40px);
	font-size: rem(20px);
	line-height: rem(24px);
	letter-spacing: rem(0.4px);
	width: fit-content;
	border: none;
	background-color: var(--darkblue-900);
	color: var(--white);
	font-weight: var(--bold-weight);
	border-radius: rem(40px);
	transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);

	&__loader {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 56px;
		height: 26.9px;
		background:
			radial-gradient(
					circle closest-side,
					var(--darkblue-500) 90%,
					var(--darkblue-950)
				)
				0% 50%,
			radial-gradient(
					circle closest-side,
					var(--darkblue-500) 90%,
					var(--darkblue-950)
				)
				50% 50%,
			radial-gradient(
					circle closest-side,
					var(--darkblue-500) 90%,
					var(--darkblue-950)
				)
				100% 50%;
		background-size: calc(100% / 3) 13.4px;
		background-repeat: no-repeat;
		animation: loader-animation 1s infinite linear;

		@keyframes loader-animation {
			20% {
				background-position:
					0% 0%,
					50% 50%,
					100% 50%;
			}

			40% {
				background-position:
					0% 100%,
					50% 0%,
					100% 50%;
			}

			60% {
				background-position:
					0% 50%,
					50% 100%,
					100% 0%;
			}

			80% {
				background-position:
					0% 50%,
					50% 50%,
					100% 100%;
			}
		}
	}

	&:has(&__loader) {
		.button__text {
			visibility: hidden;
		}
	}

	&:focus-visible {
		outline: rem(2px) solid var(--darkblue-900);
		outline-offset: rem(1px);
	}

	&:active {
		transform: scale(0.96);
	}

	&:disabled {
		cursor: not-allowed;
		transform: unset;
		background-color: var(--darkblue-200);
		color: var(--darkblue-500);
	}

	@include respond-to('mobile') {
		padding: rem(18px) rem(40px);
		font-size: rem(18px);
		line-height: rem(20px);
		width: 100%;
	}
}
