$success-color: #389e0d;

.plans-view {
	$title-width: rem(544px);
	$title-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__title {
		max-width: $title-width;
		text-align: $title-align;
	}

	&__description {
		margin-top: rem(8px);
		max-width: $title-width;
		text-align: $title-align;
	}

	&__quote-types {
		display: flex;
		gap: rem(32px);
		margin-top: rem(32px);

		@include respond-to('mobile') {
			flex-direction: column;
			gap: rem(24px);
			width: 100%;
		}
	}

	&__quote-type {
		cursor: pointer;
		padding-inline: rem(24px);
		padding-block: rem(16px) rem(40px);
		max-width: rem(256px);
		display: flex;
		flex-direction: column;
		gap: rem(8px);

		&__radio {
			$radio-size: rem(24px);
			align-self: flex-end;
			width: $radio-size;
			height: $radio-size;
			border-radius: 50%;
			box-shadow: 0px 0px 0 rem(1px) inset var(--darkblue-400);
			display: grid;
			place-items: center;
			margin-bottom: rem(-8px);
		}

		&__header {
			display: flex;
			flex-direction: column;
			gap: rem(8px);

			@include respond-to('mobile') {
				flex-direction: row;
				align-items: center;
			}
		}

		&__icon {
			$icon-size: rem(48px);
			width: $icon-size;
			height: $icon-size;

			@include respond-to('mobile') {
				$icon-size: rem(32px);
				width: $icon-size;
				height: $icon-size;
			}
		}

		&--selected {
			box-shadow: 0px 0px 0 rem(3px) inset var(--darkblue-900);

			.plans-view__quote-type__radio {
				box-shadow: none;
				background-color: $success-color;
			}
		}

		@include respond-to('mobile') {
			max-width: 100%;
		}
	}

	@include respond-to('mobile') {
		$title-align: left;
		align-items: flex-start;

		&__title {
			text-align: $title-align;
		}

		&__description {
			text-align: $title-align;
		}
	}
}
