.login-section {
	position: relative;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-block: rem($header-height);

	@include respond-to('mobile') {
		padding-bottom: rem(96px);
	}

	&__content {
		@include container;
		display: flex;
		align-items: center;
		gap: rem(128px);
	}

	&__landing-image {
		overflow: hidden;

		img {
			max-width: 100%;
			height: auto;
		}

		&--desktop {
			max-width: rem(480px);
			border-radius: rem(24px);
			@include mobile-hidden;
		}

		&--mobile {
			max-width: rem(136px);
			border-radius: rem(16px);
			@include desktop-hidden;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		min-width: 352px;
		max-width: 352px;

		@include respond-to('mobile') {
			max-width: 100%;
		}

		&-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: rem(12px);
		}

		&-title {
			margin-top: rem(16px);
		}

		&-divider {
			margin-block: rem(24px);
			@include desktop-hidden;
		}

		&-description {
			@include respond-to('desktop') {
				margin-top: rem(8px);
			}
		}

		&-phone-input {
			margin-top: rem(16px);
		}

		&-privacy-checkbox {
			display: inline-flex;
			margin-top: rem(24px);
		}

		&-commercial-checkbox {
			display: inline-flex;
			margin-top: rem(12px);
		}

		&-terms-link {
			display: inline-flex;
			margin-top: rem(12px);

			&:active {
				opacity: 0.8;
			}

			.text {
				text-decoration: underline;
			}
		}

		&-quote-button {
			margin-top: rem(24px);
		}
	}

	.tag-promo {
		width: fit-content;
		padding: rem(4px) rem(8px);
		border-radius: rem(4px);
		font-size: rem(14px);
		font-weight: var(--bold-weight);
		line-height: rem(16px);
		letter-spacing: rem(0.4px);
		background: linear-gradient(90deg, #00f4e2 0%, #00ff7f 100%);
		color: var(--black-color);

		@include respond-to('mobile') {
			font-size: rem(12px);
			padding-block: rem(2px);
		}
	}
}
