.login-section {
	position: relative;
	flex: 1;
	display: grid;
	place-items: center;

	@media (width <= $mobile-breakpoint) {
		padding-block: rem(64px) rem(96px);
	}

	&__content {
		@include container;
		display: flex;
		align-items: center;
		gap: rem(128px);
	}

	&__landing-image {
		&--desktop {
			max-width: rem(480px);
			border-radius: rem(24px);
			overflow: hidden;
			@include mobile-hidden;

			img {
				max-width: 100%;
				height: auto;
			}
		}

		&--mobile {
			max-width: rem(136px);
			border-radius: rem(16px);
			overflow: hidden;
			@include desktop-hidden;

			img {
				max-width: 100%;
				height: auto;
			}
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		min-width: 352px;
		max-width: 352px;

		@media (width <= $mobile-breakpoint) {
			min-width: 100%;
			max-width: 100%;
		}

		&-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: rem(12px);
		}

		&-title {
			margin-top: rem(16px);
		}

		&-divider {
			margin-block: rem(24px);
			@include desktop-hidden;
		}

		&-description {
			@media (width > $mobile-breakpoint) {
				margin-top: rem(8px);
			}
		}

		&-phone {
			margin-top: rem(16px);
		}

		&-privacy {
			margin-top: rem(24px);
		}

		&-commercial {
			margin-top: rem(12px);
		}

		&-terms {
			margin-top: rem(12px);
			width: fit-content;

			span {
				text-decoration: underline;
			}
		}

		&-quote {
			margin-top: rem(24px);
		}
	}

	.tag-promo {
		display: inline-block;
		width: fit-content;
		padding: rem(4px) rem(8px);
		border-radius: rem(4px);
		font-size: rem(14px);
		font-weight: var(--bold-weight);
		line-height: rem(16px);
		letter-spacing: rem(0.4px);
		background: linear-gradient(90deg, #00f4e2 0%, #00ff7f 100%);
		color: var(--black-color);

		@media (width <= $mobile-breakpoint) {
			font-size: rem(12px);
			padding-block: rem(2px);
		}
	}
}
