.stepper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: rem(16px);
	padding-block: rem(16px);
	background-color: #edeffc;

	&--desktop {
		@include mobile-hidden;

		picture {
			display: grid;
			user-select: none;
		}

		.stepper__step {
			display: flex;
			gap: rem(16px);

			&-indicator {
				$indicator-size: rem(22px);
				width: $indicator-size;
				height: $indicator-size;
				border-radius: 50%;
				display: grid;
				font-size: rem(12px);
				line-height: rem(16px);
				font-weight: var(--bold-weight);
				color: #7981b2;
				border: rem(1px) solid #7981b2;
				letter-spacing: rem(0.4px);
				place-content: center;
			}

			&-label {
				font-size: rem(16px);
				line-height: rem(24px);
				letter-spacing: rem(0.2px);
				color: #7981b2;
			}

			&--active {
				.stepper__step-indicator {
					background-color: #4f4fff;
					border: rem(1px) solid #4f4fff;
					color: white;
				}

				.stepper__step-label {
					font-weight: var(--bold-weight);
					color: #141938;
				}
			}
		}
	}

	&--mobile {
		padding-inline: rem(24px);
		@include desktop-hidden;

		.stepper {
			&__counter {
				font-weight: var(--black-weight);
				text-transform: uppercase;
				font-size: rem(10px);
				line-height: rem(16px);
				letter-spacing: rem(0.8px);
				color: #141938;
			}

			&__progress {
				$progress-height: rem(6px);
				$progress-radius: rem(20px);
				flex: 1;
				position: relative;
				height: $progress-height;
				border-radius: $progress-radius;
				background-color: #d7dbf5;

				&::after {
					content: '';
					position: absolute;
					width: var(--progress-bar-width);
					height: $progress-height;
					border-radius: $progress-radius;
					background-color: #4f4fff;
				}
			}
		}
	}
}
