$input-color: #5e6488;

@mixin border($pxWidth, $color) {
	border: rem($pxWidth) solid $color;
}

.select {
	@include border(1px, $input-color);
	border-radius: rem(8px);
	position: relative;
	box-sizing: border-box;

	&__icon {
		width: rem(20px);
		height: rem(20px);
		position: absolute;
		right: rem(16px);
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;
	}

	&__wrapper {
		width: 100%;
		padding: rem(14px);
		padding-inline-end: rem(36px);
		font-size: rem(16px);
		line-height: rem(26px);
		transition: all 0.1s ease;
	}

	&:has(&__error) {
		.number-input__field {
			@include border(2px, var(--red-color));
		}

		.number-input__placeholder {
			color: var(--red-color);
		}

		.number-input__error {
			margin-top: rem(8px);
			font-size: rem(13px);
			color: var(--red-color);
			font-weight: var(--medium-weight);
		}
	}

	&:has(&__field:disabled) {
		opacity: 0.6;
	}
}
