$input-color: var(--darkblue-600);

.select {
	width: 100%;
	position: relative;

	&__icon {
		$icon-size: rem(20px);
		width: $icon-size;
		height: $icon-size;
		position: absolute;
		right: rem(16px);
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;
	}

	&__field {
		width: 100%;
		padding: rem(14px);
		padding-inline-end: rem(36px);
		font-size: rem(16px);
		line-height: rem(26px);
		transition: all 0.1s ease;
		box-sizing: border-box;
		border-radius: rem(8px);
		border: rem(1px) solid $input-color;
		cursor: pointer;
	}

	&:has(&__field:disabled) {
		opacity: 0.6;
	}
}
