$font-data:
	'BRSonoma-Regular' 400 normal,
	'BRSonoma-Medium' 500 normal,
	'BRSonoma-SemiBold' 600 normal,
	'BRSonoma-Bold' 700 normal,
	'BRSonoma-Black' 800 normal;

@each $variant, $weight, $style in $font-data {
	@font-face {
		font-family: 'BRSonoma';
		src: url('./assets/fonts/#{$variant}.otf');
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
	}
}
