// Breakpoints
$mobile-breakpoint: 756px;

// Base font size
$base-font-size: 16px;

// Font weights
$font-weights: (
	'thin': 100,
	'extralight': 200,
	'light': 300,
	'regular': 400,
	'medium': 500,
	'semibold': 600,
	'bold': 700,
	'black': 800
);

// Colors
$colors: (
	'black': #03050f,
	'white': #f8f9ff,
	'gray': #ccd1ee,
	'blue': #2b304e
);
