// Breakpoints
$mobile-breakpoint: 756px;

// Base font size
$base-font-size: 16px;
$header-height: 64px;

// Font weights
$font-weights: (
	'regular': 400,
	'medium': 500,
	'semibold': 600,
	'bold': 700,
	'black': 800
);

// Colors
$colors: (
	'white': #ffffff,
	'danger': #ee2400,
	'violet': #4f4fff,
	'darkblue-50': #f8f9ff,
	'darkblue-100': #edeffc,
	'darkblue-200': #d7dbf5,
	'darkblue-300': #ccd1ee,
	'darkblue-400': #a9afd9,
	'darkblue-500': #7981b2,
	'darkblue-600': #5e6488,
	'darkblue-700': #2b304e,
	'darkblue-800': #141938,
	'darkblue-900': #03050f,
	'darkblue-950': #0a051e
);
