@use 'sass:math';

@function rem($pxValue) {
	@return math.div($pxValue, $base-font-size) * 1rem;
}

@mixin container {
	max-width: rem(1120px);
	padding-inline: rem(24px);
	margin: 0 auto;
}

@mixin respond-to($breakpoint) {
	@if $breakpoint == 'mobile' {
		@media (width <= $mobile-breakpoint) {
			@content;
		}
	} @else if $breakpoint == 'desktop' {
		@media (width > $mobile-breakpoint) {
			@content;
		}
	}
}

@mixin desktop-hidden {
	@include respond-to('desktop') {
		display: none;
	}
}

@mixin mobile-hidden {
	@include respond-to('mobile') {
		display: none;
	}
}
