@use 'sass:math';

@function rem($pxValue) {
	@return math.div($pxValue, $base-font-size) * 1rem;
}

@mixin container {
	max-width: rem(1120px);
	padding-inline: rem(24px);
	margin: 0 auto;
}

@mixin desktop-hidden {
	display: none;

	@media (width <= $mobile-breakpoint) {
		display: block;
	}
}

@mixin mobile-hidden {
	display: block;

	@media (width <= $mobile-breakpoint) {
		display: none;
	}
}
