.footer {
	background-color: var(--darkblue-900);

	&__content {
		@include container;
		padding-block: rem(32px);
		display: flex;
		justify-content: space-between;
		align-items: center;

		.rimac-logo {
			color: var(--white);

			&--desktop {
				height: rem(42px);
				@include mobile-hidden;
			}

			&--mobile {
				height: rem(20px);
				@include desktop-hidden;
			}
		}

		&__divider {
			margin: rem(24px) 0;
			@include desktop-hidden;
		}

		@include respond-to('mobile') {
			flex-direction: column;
		}
	}
}
