.footer {
	background-color: var(--black-color);

	&__content {
		@include container;
		padding-block: rem(32px);
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include respond-to('mobile') {
			flex-direction: column;
		}
	}

	&__logo {
		user-select: none;
		height: rem(42px);

		@include respond-to('mobile') {
			height: rem(20px);
		}
	}

	&__divider {
		margin: rem(24px) 0;
		@include desktop-hidden;
	}
}
