.left-sparkle {
	position: absolute;
	bottom: 0;
	left: 0;
	user-select: none;
	z-index: -1;
}

.right-sparkle {
	position: absolute;
	top: calc(rem($header-height) * -1);
	right: 0;
	user-select: none;
	z-index: -1;
}
