$input-color: var(--darkblue-600);

@mixin withShadow($pxWidth, $color) {
	box-shadow: 0 0 0 rem($pxWidth) inset $color;
}

.number-input {
	&__wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;

		&__placeholder {
			left: rem(16px);
			font-size: rem(14px);
			line-height: rem(24px);
			position: absolute;
			pointer-events: none;
			color: $input-color;
			transition: all 0.1s ease;
		}

		&__field {
			@include withShadow(1px, $input-color);
			padding-block: rem(24px) rem(8px);
			padding-inline: rem(16px);
			border-radius: rem(8px);
			font-size: rem(16px);
			line-height: rem(24px);
			transition: all 0.1s ease;

			&::placeholder {
				visibility: hidden;
			}

			&:focus-visible {
				@include withShadow(2px, $input-color);
			}
		}
	}

	&:has(&__wrapper__field:focus-visible) &__wrapper__placeholder,
	&:has(&__wrapper__field:not(:placeholder-shown)) &__wrapper__placeholder {
		transform: translateY(-50%);
		font-size: rem(12px);
	}

	&:has(&__error) {
		.number-input__wrapper__field {
			@include withShadow(1px, var(--danger));
		}

		.number-input__wrapper__placeholder {
			color: var(--danger);
		}

		.number-input__error {
			margin-top: rem(8px);
			font-size: rem(12px);
			color: var(--danger);
			font-weight: var(--medium);
		}
	}

	&:has(&__field:disabled) {
		opacity: 0.6;
	}
}
