@import './fonts.scss';

@function rem($px) {
	@return #{$px / 16}rem;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'BRSonoma', sans-serif;
}

:root {
	// Font weights
	--thin-weight: 100;
	--extra-light-weight: 200;
	--light-weight: 300;
	--regular-weight: 400;
	--medium-weight: 500;
	--semi-bold-weight: 600;
	--bold-weight: 700;
	--black-weight: 800;

	// Colors
	--black-color: #03050f;
	--white-color: #f8f9ff;
	--divider-color: #2b304e;
}

a {
	text-decoration: none;
	color: unset;
}
