.stepper-layout {
	font-family: Lato, sans-serif;
	padding-top: $header-height;

	&__container {
		max-width: rem(928px);
		padding-inline: rem(24px);
		margin: 0 auto;
	}

	&__content {
		padding-block: rem(40px);
	}

	&__back-button {
		margin-bottom: rem(56px);
		@include mobile-hidden;
	}
}
