.container {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
}

.header {
	position: absolute;
	inset: 0 0 auto 0;
	z-index: 1000;

	&__content {
		@include container;
		height: rem($header-height);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		user-select: none;
		height: rem(36px);

		@include respond-to('mobile') {
			height: rem(32px);
		}
	}

	&__phone {
		display: flex;
		gap: rem(16px);
		align-items: center;

		&-message {
			@include mobile-hidden;
		}

		&-icon {
			width: rem(20px);
			height: rem(20px);
		}

		&-number {
			display: flex;
			gap: rem(8px);
			align-items: center;

			&:hover > span {
				text-decoration: underline;
			}
		}
	}
}
