$logo-color: #f7052d;

.root-layout {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;

	&__header {
		position: absolute;
		inset: 0 0 auto 0;
		z-index: 1000;

		&__content {
			height: rem($header-height);
			display: flex;
			justify-content: space-between;
			align-items: center;
			@include container;

			.rimac-logo {
				color: $logo-color;
				height: rem(36px);

				@include respond-to('mobile') {
					height: rem(32px);
				}
			}

			.phone-section {
				display: flex;
				align-items: center;
				gap: rem(16px);

				&__message {
					@include mobile-hidden;
				}

				&__number {
					color: var(--darkblue-900);
					display: flex;
					align-items: center;
					gap: rem(8px);

					&__icon {
						$icon-size: rem(20px);
						width: $icon-size;
						height: $icon-size;
					}

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}
